@model Writing_platform.Models.user

@{
    ViewBag.Title = "Details";
}

<div class=" h-full w-full  overflow-x-scroll">
    <div class="w-48 sm:w-5/12 flex justify-between mx-auto text-cyan-500 mt-2 sm:mt-4">
        <button class="w-[15px] sm:w-[22px] h-[15px] sm:h-[22px] p-1 rounded-[50%] pb-[4px]"><img class="" src="~/assets/icon/cross.svg" /></button>
        <button class="box-border w-[15px] sm:w-[22px] h-[15px] sm:h-[22px] p-1 rounded-[50%]"><span class=""><img src="~/assets/icon/menu.svg" /></span></button>
    </div>
    <div class=" self-center mt-[5px] sm:mt-[20px]">
        <img class="w-20 h-20 mx-auto sm:w-28 sm:h-28 p-2 rounded-[50%] object-bottom object-cover nm-flat-zinc-800 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 stroke-white" src="~/assets/icon/user.svg" />
        <h2 class=" w-full text-center mt-3 text-white  text-xs sm:text-lg font-bold ">Your name</h2>
    </div>

    <h3 class="w-full text-left text-center pt-2 my-2 text-white text-[7px] sm:text-lg font-semibold">Publishes:</h3>

    <div class="h-full w-48 sm:w-7/12 mx-auto text-[6px] sm:text-xs my-4 ">
        <div class=" divide-y divide-zinc-500 nm-flat-zinc-800 rounded-lg mb-4 ">
            <div class="w-full h-18 py-2 sm:h-24  overflow-hidden text-center text-cyan-500 text-xs sm:text-lg ">
                <h2 class="font-bold underline underline-offset-[1px] ">Title</h2>
                <div class="flex justify-center text-[5px] sm:text-xs mt-2">
                    <p>Publish date: </p>
                    <p class="text-white font-semibold ml-1">11/11/2000 </p>
                </div>
                <p class="cursor-pointer w-1/3 mx-auto text-[5px] sm:text-xs text-cyan-500">Read more</p>
            </div>

            <div class="w-full h-18 py-2 sm:h-24  overflow-hidden text-center text-cyan-500 text-xs sm:text-lg ">
                <h2 class="font-bold underline underline-offset-[1px] ">Title</h2>
                <div class="flex justify-center text-[5px] sm:text-xs mt-2">
                    <p>Publish date: </p>
                    <p class="text-white font-semibold ml-1">11/11/2000 </p>
                </div>
                <p class="cursor-pointer w-1/3 mx-auto text-[5px] sm:text-xs text-cyan-500">Read more</p>
            </div>

            <div class="w-full h-18 py-2 sm:h-24  overflow-hidden text-center text-cyan-500 text-xs sm:text-lg ">
                <h2 class="font-bold underline underline-offset-[1px] ">Title</h2>
                <div class="flex justify-center text-[5px] sm:text-xs mt-2">
                    <p>Publish date: </p>
                    <p class="text-white font-semibold ml-1">11/11/2000 </p>
                </div>
                <p class="cursor-pointer w-1/3 mx-auto text-[5px] sm:text-xs text-cyan-500">Read more</p>
            </div>

            <div class="w-full h-18 py-2 sm:h-24  overflow-hidden text-center text-cyan-500 text-xs sm:text-lg ">
                <h2 class="font-bold underline underline-offset-[1px] ">Title</h2>
                <div class="flex justify-center text-[5px] sm:text-xs mt-2">
                    <p>Publish date: </p>
                    <p class="text-white font-semibold ml-1">11/11/2000 </p>
                </div>
                <p class="cursor-pointer w-1/3 mx-auto text-[5px] sm:text-xs text-cyan-500">Read more</p>
            </div>

            <div class="w-full h-18 py-2 sm:h-24  overflow-hidden text-center text-cyan-500 text-xs sm:text-lg ">
                <h2 class="font-bold underline underline-offset-[1px] ">Title</h2>
                <div class="flex justify-center text-[5px] sm:text-xs mt-2">
                    <p>Publish date: </p>
                    <p class="text-white font-semibold ml-1">11/11/2000 </p>
                </div>
                <p class="cursor-pointer w-1/3 mx-auto text-[5px] sm:text-xs text-cyan-500">Read more</p>
            </div>

            <div class="w-full h-18 py-2 sm:h-24  overflow-hidden text-center text-cyan-500 text-xs sm:text-lg ">
                <h2 class="font-bold underline underline-offset-[1px] ">Title</h2>
                <div class="flex justify-center text-[5px] sm:text-xs mt-2">
                    <p>Publish date: </p>
                    <p class="text-white font-semibold ml-1">11/11/2000 </p>
                </div>
                <p class="cursor-pointer w-1/3 mx-auto text-[5px] sm:text-xs text-cyan-500">Read more</p>
            </div>
        </div>
    </div>

</div>


